@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco Regular";
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: "San Francisco Bold";
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Bold.otf");
}

@font-face {
  font-family: "San Francisco Medium";
  font-weight: 400;
  src: url("./fonts/SF-Pro-Display-Medium.otf");
}

