@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=chinese-traditional,latin-ext,vietnamese');
@import url('https://use.typekit.net/gzs4pfq.css');

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Oswald-Medium';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Oswald-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
