@import './animations.scss';
@import './reset.scss';
@import './fonts.scss';

/* setup viewport */
html {
  overflow: hidden;
  background: #fff;
  body {
    @include fullsize();

    position: relative;
  }
}
